#calculator {
    width:60%;
    height: 80%;
    min-width: 300px;
    min-height: 400px;
 background-color: gray;
    margin: auto;
    margin-top: 80px;
    border: 2px solid var(--light-grey);
    border-radius: var(--border-radius);
    padding: 10px;}

    .h1{
        text-align: center;
         background-color: black;
         color: white;
        
    }
    .display{
        background-color:white;
        height: 110px;
        margin: 0.5rem;
        vertical-align: text-bottom;
      
        
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .button{
         margin-left: 3px;
         background-color: white;
          height: 60px;
          width: 87px;
           display:flexbox ;
           font-size: 1.8rem;
    cursor: pointer;
    transition-duration: 1s;
      
   ;
            
    }
    .button1{
        width: 46.5%;
     height: 40px;
     border: 2px solid black;
    }
    .button:hover {
        background-color: var(--orange);
    }